{% extends 'base.html' %}

{% block body %}

<div class="container">
	<form class="form-inline" method="post" action="/signup/">
		{% if not data %}
			<div class="row">
				<input type="text" name="username" placeholder="Username" >
				<input type="password" name="password" placeholder="Password">
			</div>
			<div class="row">
				<input type="text" name="email" placeholder="Email">
				<input type="password" name="confirm" placeholder="Confirm Password">
			</div>
		{% else %}
			<div class="row">
				<input type="text" name="username" placeholder="Username" value="{{ data.username }}">
				<input type="password" name="password" placeholder="Password">
			</div>
			<div class="row">
				<input type="email" name="email" placeholder="Email" value="{{ data.email }}">
				<input type="password" name="confirm" placeholder="Confirm Password">
			</div>
		{% endif %}
		{% if error %}
			<div class="row">
				<p class="text-danger">Error: {{ error }}</p>
			</div>
		{% endif %}
		<div class="row">
			<input type="submit" class="btn btn-default">
		</div>
	</form>
</div>

{% endblock %}